{% extends 'base.html.twig' %}
{% block title %}
    Erreur
{% endblock %}
{% block body %}
<div class="container">
    <p>L'URL indiquée n'existe pas</p>
    <p>Pour retourner à l'accueil : <a href="/"> Cliquer ici</a></p>
</div>


{% endblock %}